.about-list {
    justify-content: center;
    &__item {
        min-width: 350px;
        margin-bottom: 45px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__title {
        color: $inuit-color;
        @include inuit-font-size(20px);
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        margin: 38px 0 19px;
    }
    &__desc {
        max-width: 254px;
        margin: 0 auto;
        text-align: center;
        color: $inuit-color;
        @include inuit-font-size(15px);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.75px;
    }
}
