.button {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #fff;
  transition: all .3s;
  white-space: nowrap;
  @include inuit-font-size(15px);
  padding: 20px 36px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #00897b;
    border-color: #00897b;
  }
  @include mq($from: tablet) {
    padding: 28px 46px;
    @include inuit-font-size(20px);
    width: auto;
  }

  &.services-list__btn {
    display: block;
    @include inuit-font-size(20px);
    border-color: #000;
    background: none;
    color: #000;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    color: #212121;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      border-color: #fff;
      color: #fff;
    }
  }
}