.nav {
  position: relative;
  &-list {
    display: none;
    background: #fff;
    padding: 10px;
    @include mq($from: desktop) {
      display: flex;
      background: none;
      padding: 0px;
    }
    &_state-active {
      position: absolute;
      top: 50px;
      left: -100px;
      display: block;
    }
    &__item {
      background: #fff;
      width: 130px;
      @include mq($from: desktop) {
        margin-left: 28px;
        background: none;
        width: auto;
      }
      &:first-child {
        margin-left: 0;
      }
      @include mq($from: mobile, $until: desktop) {
        margin-left: 0px;
        margin-bottom: 3px;
      }
    }
    &__link {
      color: $inuit-color;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 1px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      @include mq($from: mobile, $until: desktop) {
        color: $inuit-color;
      }
    }
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: -27px;
  @include mq($from: desktop) {
    display: none;
  }
}