.services-card {
  background: #fff;
  padding: 58px 30px;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
    background-color: $color-teal;

    &__title,
    &__desc {
      color: #fff;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__title {
    color: $color-mine-shaft;
    @include inuit-font-size(20px);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 38px 0 19px;
  }
  &__desc {
    margin: 0 auto 44px;
    text-align: center;
    color: $color-mine-shaft;
    @include inuit-font-size(15px);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
  }
}