.side-header {
  &__top {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 35px auto;
  }
  &__title {
    color: #ffffff;
    @include inuit-font-size(60px);
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 3px;
    text-align: center;
  }
  &__subtitle {
    color: #ffffff;
    @include inuit-font-size(22px);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-align: center;
  }
  &__main {
    padding: 180px 0 76px;
    background: url("../../dist/img/head-bg.jpg") no-repeat center top / cover;
  }
  &__btn-group {
    text-align: center;
    margin-top: 108px;

    & .button {
      margin-left: 28px;
      &:first-child {
        margin-left: 0;
      } 
    }
  }

  &__arrow-down {
    display: block;
    border: none;
    width: 23px;
    height: 15px;
    margin: 100px auto 0;
    cursor: pointer;
    background: url("../../dist/img/header-arrow.png") left top no-repeat;
  }
}