.side-header {
  &__top {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 35px auto;
  }
  &__title {
    color: #ffffff;
    @include inuit-font-size(30px);
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    @include mq($from: tablet) {
      @include inuit-font-size(60px);
      margin-top: 0;
    }
  }
  &__subtitle {
    color: #ffffff;
    @include inuit-font-size(22px);
    font-weight: 400;
    letter-spacing: 1.1px;
    text-align: center;
    @include mq($from: mobile, $until: desktop) {
      @include inuit-font-size(16px);
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../dist/img/head-bg.jpg") no-repeat center top / cover;
    background-attachment: fixed;
    height: auto;
    box-sizing: border-box;
    min-height: auto;
    padding: 0 10px 30px;
    @include mq($from: mobile) {
      min-height: 550px;
      height: calc(100vh - 95px);
      padding: 0 10px 0px;
    }
  }
  &__btn-group {
    text-align: center;
    margin-top: 40px;
    @include mq($from: desktop) {
     margin-top: 108px;
    }
    @include mq($from: mobile, $until: tablet) {
      margin: 30px auto 0;
    }

    & .button {
      @include mq($from: tablet) {
        margin-left: 28px;
      }
      &:first-child {
        margin-left: 0;
      } 
      @include mq($from: mobile, $until: tablet) {
        margin-left: 0px;
      }
    }
  }

  &__arrow-down {
    display: block;
    border: none;
    width: 23px;
    height: 15px;
    margin: 30px auto 0;
    cursor: pointer;
    background: url("../../dist/img/header-arrow.png") left top no-repeat;
    @include mq($from: mobile, $until: desktop) {
      margin: 50px auto 0;
    }
    @include mq($from: desktop) {
      margin: 100px auto 0;
    }
  }
}
