.team-card {
  &__autor {
    margin-bottom: 38px;
  }

  &__title {
    text-align: center;
    color: $inuit-color;
    @include inuit-font-size(20px, 1.3);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 12px;
  }

  &__position {
    text-align: center;
    color: $inuit-color;
    @include inuit-font-size(15px, 1.3);
    font-weight: 400;
    letter-spacing: 0.75px;
    margin-bottom: 28px;
  }
}