.works {
  &__btn-group {
    text-align: center;
    margin-bottom: 60px;
    @include mq($from: tablet) {
      margin-bottom: 120px;
    }
  }
  &__top-btn {
    margin-left: 0px;
    &:first-child {
      margin-left: 0;
    }
    @include mq($from: tablet) {
      margin-left: 20px;
    }
  }
  &__btn-bottom {
    text-align: center;
  }
}

